<html>
<body>
<h1>User playlist</h1>
<table style = "width: 100%; border: 1px solid black; padding: 15px; text-align: left">
<tr>
  <th> PlayListName </th>
  <th> SongName </th>
  <th> StageName </th>
  <th> AlbumName </th>
  <th> TrackLength </th>
</tr>
{% for row in result %}
<tr>
    <td> {{ row.0 }} </td>
    <td> {{ row.1 }} </td>
    <td> {{ row.2 }} </td>
    <td> {{ row.3 }} </td>
    <td> {{ row.4 }} </td>
</tr>
{% endfor %}
</table>
<h4>Total number of songs for current user in all playlists</h4>
<p>{{ song_count.0 }}</p>

<form method = "POST" action="/user_info/{{ user_id }}/playlist/">
{% csrf_token %}
Song you want to remove from playlist: <br></br><input type="text" name="remove_from_playlist" placeholder="Get rid of song"><br>
<input type="submit" value="Submit">
</form>
<a href="/user_info/{{ user_id }}/">Back</a>

</body>
</html>
