<h1>Show all songs by Genre</h1>
<a href="/user_info/{{ user_id }}/">Back</a>


<form action="." method="post">
    {% csrf_token %}
    <label>
        <select name="select_genre">
            <option selected="selected" disabled>Choose genre:</option>
            <option value="Hip Hop">Hip Hop</option>
            <option value="Rap"> Rap</option>
            <option value="Trap"> Trap</option>
            <option value="Deep House">Deep House</option>
            <option value="House">House</option>
            <option value="Pop">Pop</option>
            <option value="Techno">Techno</option>
        </select>
    </label>
    <input type="submit" value="Select">
</form>

<h3>Genre: {{ selected_value }}</h3>

<table style = "width: 100%; border: 1px solid black; padding: 15px; text-align: left">
<tr>
  <th> SongName </th>
  <th> StageName </th>
  <th> AlbumName </th>
</tr>
{% for row in result %}
<tr>
    <td> {{ row.0 }} </td>
    <td> {{ row.1 }} </td>
    <td> {{ row.2 }} </td>
</tr>
{% endfor %}
</table>
