<h1> Welcome User ID {{ user_id }} </h1>

<p>
    <a href="/login"> Log Out</a> <br>
</p>

<br><br>

<a href="/user_info/{{ user_id }}/detail/"> Show Personal Details</a>
<br><br>
<a href="/user_info/{{ user_id }}/all_users/"> Show All Users</a>
<br><br>
<a href="/user_info/{{ user_id }}/show_songs/"> Show All Songs By Genre</a>
<br><br>



<h2> My Playlists</h2>
<br>
<a href="/user_info/{{ user_id }}/playlist/"> Show All Playlist</a>


<h2>Extras</h2>
<a href="/user_info/{{ user_id }}/lucky/"> I'm feeling lucky</a>
